.form__paragraph {
  display: inline-block;
  padding: 5px 15px;
  font-size: 19px;
}

.form__paragraph--instruction {
  color: red;
}

.form__fieldset {
  margin: 0 auto;
  width: 100%;
  border: 4px inset rgba(0, 103, 4, 0.5098039215686274);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #dfff96f5;
}

.form__legend {
  padding: 7px;
  min-width: 400px;
  font-size: 22px;
  font-weight: bold;
  color: rgb(1, 82, 1);
  text-align: center;
  background-color: rgb(245, 255, 235);
  border: 4px inset rgba(0, 103, 4, 0.5098039215686274);
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #dfff96f5;
}

.form__label {
  padding: 0px 15px;
  font-size: 18px;
  float: left;
}

.form__select {
  margin: 18px 35px;
  padding: 2px 90px;
  max-width: 250px;
  border: 4px inset rgba(0, 103, 4, 0.5098039215686274);
  border-radius: 15px;
}

.form__select:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #dfff96f5;
  background-color: rgb(236, 236, 236);
}

.form__select:focus {
  outline: 4px inset rgba(0, 103, 4, 0.5098039215686274);
  border: none;
  background-color: rgb(236, 236, 236);
}

.form__input {
  margin: 10px;
  padding: 5px 25px;
  border-radius: 15px;
  max-width: 250px;
}

.form__input:hover {
  border-radius: 15px;
  box-shadow: 0px 0px 5px 1px #dfff96f5;
  background-color: rgb(236, 236, 236);
}

.form__input:focus {
  outline: 4px inset rgba(0, 103, 4, 0.5098039215686274);
  border: none;
  background-color: rgb(236, 236, 236);
}